# Set WD

In [1]:
import os
os.getcwd()

'/home/jovyan/work/adv_dsi_lab_5/notebooks'

In [2]:
os.chdir('/home/jovyan/work/adv_dsi_lab_5/')

# Load and Explore Data

Task: Launch the magic commands for auto-relaoding external modules

In [3]:
%load_ext autoreload
%autoreload 2

In [4]:
import pandas as pd
import numpy as np

Create a variable called file_url containing th url to the raw dataset

In [5]:
file_url = 'https://code.datasciencedojo.com/datasciencedojo/datasets/raw/master/Beijing%20PM2.5/PRSA_data_2010.1.1-2014.12.31.csv'

Load the data in a dataframe called df

In [6]:
df = pd.read_csv(file_url)

In [7]:
df.head()

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

In [8]:
df.shape

(43824, 13)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43824 entries, 0 to 43823
Data columns (total 13 columns):
No       43824 non-null int64
year     43824 non-null int64
month    43824 non-null int64
day      43824 non-null int64
hour     43824 non-null int64
pm2.5    41757 non-null float64
DEWP     43824 non-null int64
TEMP     43824 non-null float64
PRES     43824 non-null float64
cbwd     43824 non-null object
Iws      43824 non-null float64
Is       43824 non-null int64
Ir       43824 non-null int64
dtypes: float64(4), int64(8), object(1)
memory usage: 4.3+ MB

In [10]:
df.describe()

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,Iws,Is,Ir
count,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000,41757.000000,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000
mean,21912.500000,2012.000000,6.523549,15.727820,11.500000,98.613215,1.817246,12.448521,1016.447654,23.889140,0.052734,0.194916
std,12651.043435,1.413842,3.448572,8.799425,6.922266,92.050387,14.433440,12.198613,10.268698,50.010635,0.760375,1.415867
min,1.000000,2010.000000,1.000000,1.000000,0.000000,0.000000,-40.000000,-19.000000,991.000000,0.450000,0.000000,0.000000
25%,10956.750000,2011.000000,4.000000,8.000000,5.750000,29.000000,-10.000000,2.000000,1008.000000,1.790000,0.000000,0.000000
50%,21912.500000,2012.000000,7.000000,16.000000,11.500000,72.000000,2.000000,14.000000,1016.000000,5.370000,0.000000,0.000000
75%,32868.250000,2013.000000,10.000000,23.000000,17.250000,137.000000,15.000000,23.000000,1025.000000,21.910000,0.000000,0.000000
max,43824.000000,2014.000000,12.000000,31.000000,23.000000,994.000000,28.000000,42.000000,1046.000000,585.600000,27.000000,36.000000

Save the dataframe locally in the data/raw folder

In [11]:
df.to_csv('data/raw/pollution.csv', index=False)

# 3. Prepare Data

Create a copy of df and save it into a variable called df_cleaned. Remove the missing values from the target variable pm2.5

In [12]:
df_cleaned = df.copy()
df_cleaned.drop('No', axis=1, inplace=True)

Remove the missing values from the target variable pm2.5

In [13]:
df_cleaned.dropna(inplace=True)

Reset the indexes of the dataframe

In [14]:
df_cleaned.reset_index(drop=True, inplace=True)

In [15]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder

 Create a list called num_cols that contains year, DEWP, TEMP, PRES, Iws, Is, Ir

In [16]:
num_cols = ['year', 'DEWP', 'TEMP', 'PRES', 'Iws', 'Is', 'Ir']

Instantiate a StandardScaler and called it sc

In [17]:
sc = StandardScaler()

Fit and transform the numeric feature of df_cleaned and replace the data into it

In [18]:
df_cleaned[num_cols] = sc.fit_transform(df_cleaned[num_cols])

Create a list called cat_cols that contains Gender

In [19]:
cat_cols = ['month', 'day', 'hour', 'cbwd']

Instantiate a OneHotEncoder and call it ohe

In [20]:
ohe = OneHotEncoder(sparse=False)

Perform One-Hot encoding on cat_cols and save them into a dataframe called X_cat

In [21]:
X_cat = pd.DataFrame(ohe.fit_transform(df_cleaned[cat_cols]))

Extract the feature names from ohe and replace the names of the columns of the X_cat

In [22]:
X_cat.columns = ohe.get_feature_names(cat_cols)

Drop the original columns of cat_cols from df_cleaned

In [23]:
df_cleaned.drop(cat_cols, axis=1, inplace=True)

Concatenate df_cleaned with X_cat and save the result to a variable called X

In [24]:
X = pd.concat([df_cleaned, X_cat], axis=1)

In [25]:
X.head()

,year,pm2.5,DEWP,TEMP,PRES,Iws,Is,Ir,month_1,month_2,...,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,cbwd_NE,cbwd_NW,cbwd_SE,cbwd_cv
0,-1.443355,129.0,-1.229791,-1.347143,0.345329,-0.444944,-0.071057,-0.137408,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,-1.443355,148.0,-1.160508,-1.347143,0.345329,-0.427007,-0.071057,-0.137408,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,-1.443355,159.0,-0.883375,-1.429278,0.442411,-0.409069,-0.071057,-0.137408,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,-1.443355,181.0,-0.606241,-1.429278,0.539493,-0.372993,1.212862,-0.137408,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,-1.443355,138.0,-0.606241,-1.429278,0.539493,-0.355055,2.496781,-0.137408,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

Import split_sets_by_time and save_sets from src.data.sets

In [26]:
from src.data.sets import split_sets_by_time, save_sets

Split the data into training and testing sets with 80-20 ratio

In [27]:
X_train, y_train, X_val, y_val, X_test, y_test = split_sets_by_time(X, target_col='pm2.5', test_ratio=0.2)

In [28]:
save_sets(X_train=X_train, y_train=y_train, X_val=X_val, y_val=y_val, X_test=X_test, y_test=y_test, path='/home/jovyan/work/adv_dsi_lab_5/data/processed/beijing_pollution/')

# 4. Baseline Model

Import NullModel from src.models.null

In [29]:
from src.models.null import NullModel

Instantiate a NullModel and call .fit_predict() on the training target to extract your predictions into a variable called y_base

In [30]:
baseline_model = NullModel()
y_base = baseline_model.fit_predict(y_train)

Import print_reg_perf from src.models.performance

In [31]:
from src.models.performance import print_reg_perf

In [32]:
print_reg_perf(y_base, y_train, set_name='Training')

RMSE Training: 92.82545840756482
MAE Training: 69.67082209440568

# 5. Define Architecture

In [33]:
import torch
import torch.nn as nn
import torch.nn.functional as F

Create in src/models/pytorch.py a class called PytorchRegression that inherits from nn.Module with:

- num_features as input parameter
- attributes:
    -layer_1: fully-connected layer with 128 neurons
    -layer_out: fully-connected layer with 1 neurons
-methods:
    -forward() with inputs as input parameter, perform ReLU and DropOut on the fully-connected layer followed by the output layer

In [36]:
from src.models.pytorch import PytorchRegression

Instantiate PytorchRegression with the correct number of input feature and save it into a variable called model

In [37]:
model = PytorchRegression(X_train.shape[1])

def get_device():
    if torch.cuda.is_available():
        device = torch.device('cuda:0')
    else:
        device = torch.device('cpu') # don't have GPU 
    return device

Set model to use the device available

In [38]:
from src.models.pytorch import get_device

device = get_device()
model.to(device)

PytorchRegression(
  (layer_1): Linear(in_features=78, out_features=128, bias=True)
  (layer_out): Linear(in_features=128, out_features=1, bias=True)
)

Print model architecture

In [39]:
print(model)

PytorchRegression(
  (layer_1): Linear(in_features=78, out_features=128, bias=True)
  (layer_out): Linear(in_features=128, out_features=1, bias=True)
)

# 6. Create Data Loader

Import Dataset and DataLoader from torch.utils.data

In [40]:
from torch.utils.data import Dataset, DataLoader

Create in src/models/pytorch.pya class called PytorchDataset that inherits from torch.utils.data.Dataset with:

X ans y as input parameters
attributes:
X_tensor: X converted to Pytorch tensor
y_tensor: y converted to Pytorch tensor
methods:
__getitem__(index) Return features and target for a given index
__len__ Return the number of observations
to_tensor(data) Convert Pandas Series to Pytorch tensor

Import this class from src/models/pytorch and convert all sets to PytorchDataset

In [43]:
from src.models.pytorch import PytorchDataset

In [44]:
train_dataset = PytorchDataset(X=X_train, y=y_train)
val_dataset = PytorchDataset(X=X_val, y=y_val)
test_dataset = PytorchDataset(X=X_test, y=y_test)

Import DataLoader from torch.utils.data

In [45]:
from torch.utils.data import DataLoader

# 7. Train Model

Instantiate a nn.MSELoss() and save it into a variable called criterion

In [53]:
criterion = nn.MSELoss()

In [46]:
optimizer = torch.optim.Adam(model.parameters(), lr=0.001)

In [49]:
from src.models.train_regression_model import train_regression

In [50]:
from src.models.test_regression_model import test_regression

Create 2 variables called N_EPOCHS and BATCH_SIZE that will take respectively 5 and 32 as values

In [51]:
N_EPOCHS = 5
BATCH_SIZE = 32

Create a for loop that will iterate through the specified number of epochs and will train the model with the training set and assess the performance on the validation set and print their scores

In [57]:
for epoch in range(N_EPOCHS):
    train_loss, train_rmse = train_regression(train_dataset, model=model, criterion=criterion, optimizer=optimizer, batch_size=BATCH_SIZE, device=device)
    valid_loss, valid_rmse = test_regression(val_dataset, model=model, criterion=criterion, batch_size=BATCH_SIZE, device=device)

    print(f'Epoch: {epoch}')
    print(f'\t(train)\tLoss: {train_loss:.4f}\t|\tRMSE: {train_rmse:.1f}')
    print(f'\t(valid)\tLoss: {valid_loss:.4f}\t|\tRMSE: {valid_rmse:.1f}')

Epoch: 0
	(train)	Loss: 272.4183	|	RMSE: 16.5
	(valid)	Loss: 236.9014	|	RMSE: 15.4
Epoch: 1
	(train)	Loss: 272.2880	|	RMSE: 16.5
	(valid)	Loss: 237.0541	|	RMSE: 15.4
Epoch: 2
	(train)	Loss: 272.2193	|	RMSE: 16.5
	(valid)	Loss: 237.9660	|	RMSE: 15.4
Epoch: 3
	(train)	Loss: 272.0095	|	RMSE: 16.5
	(valid)	Loss: 237.8078	|	RMSE: 15.4
Epoch: 4
	(train)	Loss: 272.1025	|	RMSE: 16.5
	(valid)	Loss: 237.0974	|	RMSE: 15.4

Save the model into the models folder

In [58]:
torch.save(model, "models/pytorch_reg_pm2_5.pt")

# 8.   Assess Performance

Assess the model performance on the testing set and print its scores

In [59]:
test_loss, test_rmse = test_regression(test_dataset, model=model, criterion=criterion, batch_size=BATCH_SIZE, device=device)
print(f'\tLoss: {test_loss:.4f}\t|\tRMSE: {test_rmse:.1f}')

	Loss: 277.0515	|	RMSE: 16.6